/** @format */

body {
    padding-top: 70px;
    img {
        padding-top: 20px;
    }
    /* Filters */
    &.grayscale {
        img {
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
    &.blur {
        img {
            filter: blur(5px);
            &:hover {
                filter: blur(0);
            }
        }
    }
    &.sepia {
        img {
            filter: sepia(1);
            &:hover {
                filter: sepia(0);
            }
        }
    }
    &.inverted {
        img {
            filter: invert(1);
            &:hover {
                filter: invert(0);
            }
        }
    }
}

footer {
    margin: 50px auto;
}
